$background-color: rgb(94, 180, 252);
$gray-color: rgb(245, 245, 245);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 720px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.1);

  .top {
    height: 100px;
    padding: 30px 30px;
    border-bottom: 2px dotted rgb(220, 91, 136);

    form {
      width: 100%;
      display: flex;

      input {
        padding: 0 0 0 10px;
        width: 100%;
        height: 40px;
        border: solid rgb(220, 91, 136);
        border-width: 2px 0 2px 2px;
        outline: none;
        font-size: 15px;
      }

      input::placeholder {
        font-family: 'Klee One', cursive;
        font-weight: 600;
        color: rgba(220, 91, 136, 0.5);
      }
    }

    button {
      width: 105px;
      height: 40px;
      border: 2px solid rgb(220, 91, 136);
      background-color: rgb(222, 101, 144);
      font-size: 20px;
      color: white;
    }

    button:hover {
      background-color: rgb(220, 91, 136);
    }
  }

  .bottom {
    font-family: 'IBM Plex Sans KR', sans-serif;
    display: flex;
    flex-direction: row;
    padding: 15px 20px;
    height: 80%;

    div {
      background-color: rgba(190, 190, 190, 0.3);

      font-size: 18px;
      padding: 10px 15px;
      margin: 10px;
      width: 32%;
      height: 100%;
      border-radius: 20px;
    }

    li {
      font-size: 17px;
      color: black;
      display: flex;
      justify-content: space-between;
      padding: 6px 0;
      height: 50px;
      align-items: center;

      button {
        color: red;
        background: none;
        font-weight: 600;
        border: 2px solid red;
        border-radius: 20px;
        padding: 5px 7px;
      }
    }
  }
}
