$background-color: rgb(94, 180, 252);
$gray-color: rgb(245, 245, 245);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html {
  background-color: $background-color;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 420px;
  height: 600px;
  background-color: $gray-color;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.1);

  // input {
  //   width: 200px;
  //   height: 35px;
  //   border: none;
  //   border-radius: 5px;
  //   text-align: center;
  // }

  .inpt {
    padding: 5px;
    background-color: white;
    height: 90px;
  }

  .lst {
    padding: 5px;
  }
}
